
<div class="page-header">
	<h3>Select Genre</h3>
</div>

<div class="user">

	
 <form class="formdisplay" role="form"
  action="/display?form=display" method="POST">


  <div class="form-group">
    <label for="total_rap" class="col-sm-2 control-label">
    Total Rap Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_rap" value="0">
    </div>
  </div> <!-- End of form-group -->

    <div class="form-group">
    <label for="total_pop" class="col-sm-2 control-label">
    Total Pop</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_pop" value="0">
    </div>
  </div> <!-- End of form-group -->

      <div class="form-group">
    <label for="total_country" class="col-sm-2 control-label">
    Total Country</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_country" value="0">
    </div>
  </div> <!-- End of form-group -->

        <div class="form-group">
    <label for="total_latin" class="col-sm-2 control-label">
    Total Latin Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_latin" value="0">
    </div>
  </div> <!-- End of form-group -->

 


  <div class="form-group">
    <div class="col-sm-4">
      <button type="Continue" class="btn btn-default">Continue</button>



    </div>

	
	



</div>