<link rel="icon" href="/logo.png">
<div class ="page-header">
  <h3>Search Results</h3>
</div>
<img src="logo.png"; style="width:100px;height:100px;margin-left: 1050px;margin-top:-130px;">
<br>
<br>

<h4>Your Spotify Playlist: </h4>

<iframe src= {{playlist}} width="300" height="380" frameborder="0" allowtransparency="true"> </iframe>

<!-- 	<ul>
	{{#each songs_played }}
		<iframe src= {{this}} frameborder="0" allowtransparency="true"> </iframe>
		<br>
	{{/each}}
	</ul> -->



	
<!-- 	<iframe src="https://open.spotify.com/embed?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai"
        frameborder="0" allowtransparency="true"></iframe> -->

<!--         <iframe src= {{id_song}}
        frameborder="0" allowtransparency="true"></iframe> -->

<!-- <div class="box">    
        <label for="qty"><abbr title="Quantity">Qty</abbr></label>
        <input id="qty" value="0" />
        <button id="down" onclick="modify_qty(-1)">-1</button>
        <button id="up" onclick="modify_qty(1)">+1</button>
 </div>
<script>
function modify_qty(val) {
    var qty = document.getElementById('qty').value;
    var new_qty = parseInt(qty,10) + val;
    
    if (new_qty < 0) {
        new_qty = 0;
    }
    
    document.getElementById('qty').value = new_qty;
    return new_qty;
}
</script>
  </div> -->

<form class="formSearchbar" role="form"
  action="/return_home?form=return_home" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="finish" class="btn btn-default">Add more Songs</button>
    </div>
  </div> <!-- End of form-group -->

</form>

<form class="formSearchbar" role="form"
  action="/createPlaylist?form=createPlaylist" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="finish" class="btn btn-default">Create New Playlist</button>
    </div>
  </div> <!-- End of form-group -->

</form>


<form class="formSearchbar" role="form"
   action="/data/save?form=playlist" method="GET">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="data" class="btn btn-default">Save Playlist</button>
    </div>
  </div> <!-- End of form-group -->

</form>


<a href= {{my_tweet}} class="twitter-share-button">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--   <div class = "redirectBtn">
<a href="/" class="btn btn-primary" role="button">Search Again</a>
</div> -->


</form>

  <form class="formSearchbar" role="form"
  action="/return_home?form=return_home" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="return_home" class="btn btn-default">Go back</button>
    </div>
  </div> <!-- End of form-group -->


</form>
