<div class="page-header">
	<h3>Search Results</h3>
</div>

<div class="display">



<h4> Here are some songs: </h4>


	<ul>
	{{#each songs_played }}
		<iframe src= {{this}} frameborder="0" allowtransparency="true"> </iframe>
		<br>
	{{/each}}
	</ul>



	
<!-- 	<iframe src="https://open.spotify.com/embed?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai"
        frameborder="0" allowtransparency="true"></iframe> -->

<!--         <iframe src= {{id_song}}
        frameborder="0" allowtransparency="true"></iframe> -->

<div class="box">    
        <label for="qty"><abbr title="Quantity">Qty</abbr></label>
        <input id="qty" value="0" />
        <button id="down" onclick="modify_qty(-1)">-1</button>
        <button id="up" onclick="modify_qty(1)">+1</button>
 </div>
<script>
function modify_qty(val) {
    var qty = document.getElementById('qty').value;
    var new_qty = parseInt(qty,10) + val;
    
    if (new_qty < 0) {
        new_qty = 0;
    }
    
    document.getElementById('qty').value = new_qty;
    return new_qty;
}
</script>
  </div>


  <div class = "redirectBtn">
<a href="/" class="btn btn-primary" role="button">Search Again</a>
</div>

