<link rel="icon" href="/logo.png">
<div class ="page-header">
  <h3>Your Current Playlist</h3>
</div>
<img src="logo.png"; style="width:100px;height:100px;margin-left: 1050px;margin-top:-130px;">
<p>Welcome to MuseList! Please <a href="/login_twitter">log in to Twitter</a>.</p>
<br>
<h4>Customize your Playlist</h4>
<br>

<h5>Add Songs by:</h5>

  <ol>
  {{#each songs_played }}
    <li>{{this}} </li>
    
  {{/each}}
  </ol>
<div class="searchbar">


<form class="formuser" role="form"
  action="/user?form=user" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <img src="genre.jpg"; style="width:100px;height:70px;">
      <button type="add_genre" class="btn btn-default">Genres</button>
    </div>
  </div> <!-- End of form-group -->

</form>


<form class="formSearchbar" role="form"
  action="/search_for_artist?form=search_for_artist" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
    <img src="artist.jpeg"; style="width:100px;height:70px;">
      <button type="add_artist" class="btn btn-default">Artists</button>
    </div>
  </div> <!-- End of form-group -->

</form>


<form class="formSearchbar" role="form"
  action="/search_for_song?form=search_for_song" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
    <img src="songs.jpeg"; style="width:100px;height:70px;">
      <button type="add_song" class="btn btn-default">Songs</button>
    </div>
  </div> <!-- End of form-group -->



</form>
<br><br><br><br>
<h5>Other Playlist Options:</h5>

<form class="formSearchbar" role="form"
  action="/remove_songs?form=remove_songs" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="remove_songs" class="btn btn-default">Edit</button>
    </div>
  </div> <!-- End of form-group -->

</form>

<form class="formSearchbar" role="form"
  action="/finalize?form=finalize" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="create_playlist" class="btn btn-default">Finalize</button>
    </div>
  </div> <!-- End of form-group -->

</form>

<form class="formSearchbar" role="form"
   action="/data/select" method="GET">
 
   <div class="form-group">
     <div class="col-sm-4">
       <button type="view_data" class="btn btn-default">View</button>
     </div>
   </div>
 </form>


</div> <!-- End of searchbar -->



</script>
