<link rel="icon" href="/logo.png">
<div class ="page-header">
  <h3>Edit Your Playlist</h3>
</div>
<img src="logo.png"; style="width:100px;height:100px;margin-left: 1050px;margin-top:-130px;">
<br>
<br>



<h4>Your Current Playlist: </h4>
  <ol>
  {{#each songs_played }}
    <li>{{this}} </li>
    
  {{/each}}
  </ol>


<form class="formuser" role="form"
  action="/delete?form=delete" method="POST">

  <div class="form-group">
    <label for="song_number" class="col-sm-2 control-label">
    Song Number to Delete</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="song_number" value ="0"
      name="song_number">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <div class="col-sm-4">
      <button type="delete_song" class="btn btn-default" style="margin-top:70px; margin-left:-570px;">Delete Song</button>
    </div>
  </div> <!-- End of form-group -->

</form>



  <form class="formSearchbar" role="form"
  action="/return_home?form=return_home" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="return_home" class="btn btn-default" style="margin-top:300px;">Back</button>
    </div>
  </div> <!-- End of form-group -->
</form>
