
<div class="page-header">
	<h3>Select Genre (<20)</h3>
</div>

<div class="user">

	
 <form class="formdisplay" role="form"
  action="/genres?form=genres" method="POST">


  <div class="form-group">
    <label for="total_rap" class="col-sm-2 control-label">
    Total Rap Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_rap" value="0">
    </div>
  </div> <!-- End of form-group -->

    <div class="form-group">
    <label for="total_pop" class="col-sm-2 control-label">
    Total Pop Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_pop" value="0">
    </div>
  </div> <!-- End of form-group -->

      <div class="form-group">
    <label for="total_country" class="col-sm-2 control-label">
    Total Country Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_country" value="0">
    </div>
  </div> <!-- End of form-group -->

        <div class="form-group">
    <label for="total_latin" class="col-sm-2 control-label">
    Total Latin Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_latin" value="0">
    </div>
  </div> <!-- End of form-group -->


        <div class="form-group">
    <label for="total_latin" class="col-sm-2 control-label">
    Total Rock Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_rock" value="0">
    </div>
  </div> <!-- End of form-group -->

          <div class="form-group">
    <label for="total_latin" class="col-sm-2 control-label">
    Total Party Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_party" value="0">
    </div>
  </div> <!-- End of form-group -->

            <div class="form-group">
    <label for="total_latin" class="col-sm-2 control-label">
    Total Punk Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_punk" value="0">
    </div>
  </div> <!-- End of form-group -->

              <div class="form-group">
    <label for="total_latin" class="col-sm-2 control-label">
    Total Reggae Songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total"
      name="total_reggae" value="0">
    </div>
  </div> <!-- End of form-group -->
 


  <div class="form-group">
    <div class="col-sm-4">
      <button type="Continue" class="btn btn-default">Add</button>



    </div>

</div>


</form>



  <form class="formSearchbar" role="form"
  action="/return_home?form=return_home" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="return_home" class="btn btn-default">Go back</button>
    </div>
  </div> <!-- End of form-group -->

</form>