<title> hello kids </title>
<h4> Here is your information: </h4>

ID: {{user.id}} <br/>

<a href="https://twitter.com/intent/tweet?text=Hello%20worldo" class="twitter-share-button">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

Username: {{user.username}}<br/>