<div class = "page-header">
<h3>View All Playlists</h3>
</div>

<h4> Playlists: </h4>

  <ol>
  {{#each songsList }}
    <li> {{this}} </li>
    
  {{/each}}

  <p>

<div class = "redirectBtn">
<a href="/" class="btn btn-primary" role="button">Go Back</a>
</div>

