
<h4>Search for an Artist</h4>
<form class="formSearchbar" role="form"
  action="/process?form=searchbar" method="POST">

  <div class="form-group">
    <label for="fieldArtist" class="col-sm-2 control-label">
    Artist</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldArtist"
      name="artist">
    </div>
  </div> <!-- End of form-group -->


  <div class="form-group">
    <label for="total_songs" class="col-sm-2 control-label">
    Total_songs</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="total" value ="0"
      name="total_songs">
    </div>
  </div> <!-- End of form-group -->


  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div> <!-- End of form-group -->

</form>

</div> <!-- End of searchbar -->



</script>

