<div class = "page-header">
<h3>View All Playlists</h3>
</div>

<h4> Playlists: </h4>

  <ol>
  {{#each songsList }}
    <li> {{this}} </li>
    
  {{/each}}

  <p>

  <form class="formSearchbar" role="form"
  action="/return_home?form=return_home" method="POST">



  <div class="form-group">
    <div class="col-sm-4">
      <button type="return_home" class="btn btn-default">Go back</button>
    </div>
  </div> <!-- End of form-group -->

</form>